body {
    font-family: Arial, sans-serif;
    background-color: orangered;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.altreuni {
    text-align: left;
    margin-bottom: 20px;
}

.title {
    color: #fff;
    text-align: center;;
}

table {
    border: 1px solid black;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}